

.jumbotron {
  padding:50px 30px;
  margin:0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left !important;
  background-color: blue;
  background-size: cover;
  width: 1;
}

.login-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  background-color: white;
  color: white;
}

.form-group {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left !important;
  background-color: white;
}

.navbar-brand{
  background-color: white;
  margin:0px auto;
  color:black
}

.dropdownMenu {
  background-color: white;
  margin:0px auto;
  color:black
}

.nav-link {
  background-color: white;
  margin:0px auto;
  color:black
}

.text-center {
  vertical-align: text-top;
}

.header{
  width: 100%;
}